header
{
    border: 1px solid blue;
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100%;
    align-self: auto;
    min-width: 600px;
    background-color: white;
    border-radius: 10px;
}

a, a:visited, a:link, a:hover, a:active{
    text-decoration: none;
    color:#0077B6;
}

/*Header*/

#header1, #header2
{
   text-align: center;
   margin:0;
}
 
#logo
{
    position: absolute;
    height: 64px;
    position: absolute;
    left: 10px;
    top: 0;
    opacity: 0.9;
}

/* BODY */

body{
    background-image:url('wallpaper.png');
    background-size: cover;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

section {
    display: flex;
}

#image1{
    width:75%;
    border-radius: 10px;
    border: 2px solid white;
    margin-left:40%;
}

#image2{
    width:44.5%;
    border-radius: 10px;
    border: 2px solid white;
    margin-left:20%
}

#description{
    height:auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    background-size:cover;
    border: 2px solid rgb(168, 168, 255);
    border-radius: 10px;
}
#description_text{
    margin:20px;
    font-size: 1.3em;
    text-align: center;
    color:black;
    text-shadow: 1px 1px 1px white;
}
#pourquoi_donner{
    height:auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    background-size:cover;
    border: 2px solid rgb(168, 168, 255);
    border-radius: 10px;
}
#pourquoi_donner_text{
    margin:20px;
    font-size: 1.3em;
    color:black;
    text-shadow: 2px 2px 2px white;
}
.container { 
    border: 2px solid white; 
    border-radius: 10px;
    width: 36.5%; 
    height: 36.5%;
 }
.outer-container{
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
}

.container2 {
    background-color: white;
    text-align: center;
    border: 2px solid rgb(168, 168, 255); 
    border-radius: 10px;
    width: 40%; 
    height: 40%;
}

.img {
    width: 100%;
    vertical-align: auto;
    border-radius: 10px;
}

.total_recolte{
    border: 2px solid rgb(65, 65, 255);
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    width:15%;
    margin-left: auto;
}

.title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: -5px;
}

#bouton_don{
    font-size: 2em;
    background-color: white;
    border: 2px solid rgb(168, 168, 255);
    border-radius: 10px;
    margin:auto
}

#bouton_donateurs{
    font-size: 2em;
    background-color: white;
    border: 2px solid rgb(168, 168, 255);
    border-radius: 10px;
    margin:auto
}

#styletxt{
    margin:10px;
}

form{
    margin:20px;
}
#formulaire{
    background-color: white;
    border-radius: 10px;
    border: 2px solid rgb(165, 165, 255);
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
h2{
    margin:20px
}

#submit{
    width:25%;
    height:150px;
    margin-left:15%;
}

#img_form{
    width:25%;
    margin-left:20%
}