<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
    <title>Le site de fou</title>
</head>
<body>
    <header>
        <div id="en-tete">
            <a href="{{url_for('index')}}">
                <h1 id="header1">OceanPurify</h1>
                <h2 id="header2">Un océan propre pour un avenir durable</h2>
                <img src="{{url_for('static', filename = 'logo1.png')}}" id="logo"/>
            </a>
        </div>   
          
     </header>

    <article>
        {% block content %} {% endblock %}
    </article>
</body>
</html>