{% extends 'base.html'%}

{% block content %}

<h2>Formulaire</h2>
<form action="{{url_for('resultat')}}" method="post">
  <p><i>Complétez le formulaire. Les champs marqué par </i><em>*</em> sont <em>obligatoires</em></p>
  <fieldset>
    <legend>Informations personnelles :</legend>
      <label for="nom">Nom <em>*</em></label>
      <input id="nom" name="nom" placeholder="Jean" autofocus="" required=""><br>
      <label for="prenom">Prénom <em>*</em></label>
      <input id="prenom" name="prenom" placeholder="Valjean" autofocus="" required=""><br>
      <label for="email">Email <em>*</em></label>
      <input id="email" name="email" type="email" placeholder="prenom.nom@gmail.com" required="" pattern="[a-zA-Z]*[.][a-zA-Z]*@[a-zA-Z]*.[a-zA-Z]*"><br>
      <label for="adresse">Adresse <em>*</em></label>
      <input id="adresse" name="adresse" placeholder="1 rue Plumet" autofocus="" required=""><br>
  </fieldset>
  <fieldset>
    <legend>Don</legend>
      <label for="don">Somme du don<em>*</em></label>
      <input id="don" name="don" type="number" placeholder="0" pattern="[0-9]*" required=""><br>
      <label for="comments">Espace vide pour nous laisser un message si vous le désirez :</label>
      <textarea id="comments", name="comments"></textarea>

      <input type="checkbox" name="conditions" id="conditions"> En cochant cette case, j'accepte les conditions relatives au don caritatif.
  </fieldset>
  <p><input type="submit" value="Soumettre"></p>
</form>

  {% endblock %}